body {
    padding: 24px 48px;
}
div {
    width: 160px;
    height: 90px;
    background-color: #42afe3 !important;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px !important;
}

.normal {
    background-color: #52bff3 !important;
}

p {
    color: white;
}

.translate {
    transform: translate(50px, 20px);
}

.rotate {
    transform: rotate(40deg);
}

.scale {
    transform: scale(0.8, 0.8);
}

.skew {
    transform: skew(20deg, 10deg);
} 
