body {
  padding: 24px 48px;
}
div {
  width: 160px;
  height: 90px;
  background-color: #42afe3 !important;
}

h1 {
  margin-top: 80px;
}
h2 {
  margin-top: 50px;
  margin-bottom: 50px !important;
}

.normal {
  background-color: #52bff3 !important;
}

p {
  color: white;
} 
